teamcity-data/*
teamcity-logs/*
teamcity-agent-data/*
database/*
buildagent-temp/*
mssql-database/*
octopus/artifacts/*
octopus/cache/*
octopus/import/*
octopus/repository/*
octopus/taskLogs/*

!teamcity-data/.gitkeep
!teamcity-logs/.gitkeep
!teamcity-agent-data/.gitkeep
!database/.gitkeep
!buildagent-temp/.gitkeep
!mssql-database/.gitkeep
!octopus/*/.gitkeep
.env